@page "/EditEmployee/{employeeId}"
@using BlazerServerAppRepo.Data
@using EmployeeServices
@using EmpModel
@inject IEmployeeService employee
@inject NavigationManager NavigationManager

<div class="form-content">
    <form class="form" action="EmpHome">
        <div class="form-head">Employee Payroll form</div>

        <div class="row-content">
            <label class="label text" for="name">Employee Id</label>
            <input class="input" type="text" placeholder="Your name.." @bind="objEmp.EmployeeId" readonly>
            <error-output class="text-error" for="text"></error-output>
        </div>

        <div class="row-content">
            <label class="label text" for="name">Name</label>
            <input class="input" type="text" id="name" name="name" placeholder="Your name.." @bind="objEmp.Name" required>
            <error-output class="text-error" for="text"></error-output>
        </div>

        <div class="row-content">
            <label class="label text" for="salary">Choose your salary:</label>
            <input type="number" class="input" name="salary" id="salary" @bind="objEmp.Salary" />
            <error-output class="salary-output text" id="displaySalary" for="salary">400000</error-output>
        </div>

        <div class="row-content">
            <label class="label text" for="startdate">Start Date</label>
            <input id="startdate" type="date" min="2018-01-01" @bind="objEmp.StartDate" />
        </div>
        <div class="row-content">
            <label class="label text" for="notes">Notes</label>
            <textarea id="notes" class="input" name="Notes" placeholder="" style="height:100px" @bind="objEmp.Notes"></textarea>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" @onclick="@UpdateEmp" class="btn btn-primary" value="" />
                    <input type="button" @onclick="@Cancel" class="btn btn-primary" value="Cancel" />
                </div>
            </div>
        </div>
    </form>
</div>


@code { [Parameter]
    public string employeeId { get; set; }
    EmployeeModel objEmp = new EmployeeModel();

    protected override async Task OnInitializedAsync()
    {
        objEmp = await Task.Run(() => employee.GetEmployeeData(Convert.ToInt32(employeeId)));
    }

    protected void UpdateEmp()
    {
        employee.UpdateEmployee(objEmp);
        NavigationManager.NavigateTo("DisplayEmp");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("DisplayEmp");
    } }
